<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.name }} - {{ site.description }}</title>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <header>
      <div class="container">
	<img src="{{ site.avatar }}" />
        <h1>{{ site.description | default: site.github.project_tagline }}</h1>

        <section id="downloads">
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>

	<nav>
	  <a href="{{ site.baseurl }}/">Blog</a>
	  <a href="{{ site.baseurl }}/best">Best Talks 2019</a>
	  <a href="{{ site.baseurl }}/about">About</a>
	</nav>
      </div>
    </header>

    <div class="container">
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  </body>
</html>
